.Posts {
    flex-direction: column;
    justify-items: center;
}

.Main {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-left: 5%;
}

.PostListExitActive {
    animation: Rotation 250ms 1;
}

@keyframes Rotation {
    25% {
        transform: rotate3d(0, 1, 0, 45deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    75% {
        transform: rotate3d(0, 1, 0, 135deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

.Header {
    align-self: center;
}

@media (min-width: 700px){
    .Posts {
        flex-direction: column;
        overflow: hidden;
    }
}
