/* Base CSS file for PieceView project */
@import url(http://fonts.googleapis.com/css?family=Muli);

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  background: rgb(3,11,68);
  background: linear-gradient(0deg, rgba(2,93,145,1) 0%, rgba(4,133,157,1) 40%,
                              rgba(0,212,255,1) 99%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
h3, h4, h5 , h6 {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0 0 10px 0;
  margin: 10px 0 20px 0;
}

h2 {
  margin: 30px 0 20px;
}

.main-header {
  padding: 10px 100px;
  font-size: 14px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,47,73,1) 84%);
}

.main-header a {
  color: #15da15;
}

/* content */
p{
  font-family: 'CodeNewRomanRegular';
  font-weight: bold;
}

/* forms */
form {
  overflow: auto;
}

form p {
  width: 100%;
  overflow: auto;
}

label {
  float: left;
  clear: both;
  color: #333;
  margin-bottom: 4px;
}

input, textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #efefef;
  border: 0;
  padding: 6px 10px;
  font-size: 14px;
}

input[type=submit], .button {
  font-weight: bold;
  background: blue;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.errorlist {
  color: red;
  float: left;
  clear: both;
  list-style-type: none;
}

.helptext {
  margin: 0 0 20px 0;
  color: #aaa;
  clear: both;
  float: left;
  font-size: 13px;
}

/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
  color: purple;
}

ul.messages .success,
ul.messages .warning,
ul.messages .error,
ul.messages .info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

.login-form {
  float: left;
}
