/* Base CSS file for PieceView project */
@import url(http://fonts.googleapis.com/css?family=Muli);

body {
  font-family: helvetica, sans-serif;
  background: rgb(3,11,68);
  background: linear-gradient(0deg, rgba(2,93,145,1) 0%, rgba(4,133,157,1) 40%,
                              rgba(0,212,255,1) 99%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
h4, h5 , h6 {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

h1{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0 0 10px 0;
  margin: 10px 0 20px 0;
}

h2 {
  margin: 30px 0 20px;
}

h3 {
  text-align: center;
  margin: 10px 0 20px 0;
}
.main-header {
  font-size: 2.5em;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,47,73,1) 84%);
}

.main-header a {
  color: #15da15;
}

.main-div{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}
/* content */
p{
  font-family: 'CodeNewRomanRegular';
  font-weight: bold;
}

/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
  color: purple;
}

ul.messages .success,
ul.messages .warning,
ul.messages .error,
ul.messages .info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

.login-form {
  float: left;
}

.card{
  max-width: 50%;
}
