.input-group-text{
  text-align: left;
  overflow: hidden;
}

.helptext {
  margin: 0 0 20px 0;
  color: #aaa;
  clear: both;
  float: left;
  font-size: 13px;
}

.errorlist {
  color: red;
  float: left;
  clear: both;
  list-style-type: none;
}


@media (min-width: 701px) {
  .img-thumbnail{
    margin-left: -33%;
  }

  .short-form{
    max-width: 33%;
  }
  .btn {
    font-weight: bold;
    max-width: 50%;
    margin-left: 20%;
    min-width: 65%;
    min-height: 4em;
    margin-bottom: 2%;
  }
}

@media (max-width: 700px) {
  /* User  Profile Photo */
  .img-thumbnail{
    margin-left: -35%;
  }

  .register-form{
    min-width: 190%;
  }

  .custom-file{
    padding-left: 35%;
  }

  /* Save button */
  .btn{
    font-weight: bold;
    min-width: 115%;
    min-height: 4em;
    margin-top: 10%;
  }
}
