form {
  max-width: 100%;
}

.edit-form {
  align-self: center;
}

.btn {
  font-weight: bold;
  max-width: 50%;
  margin-left: 20%;
  min-width: 65%;
  min-height: 4em;
}

.errorlist {
  color: red;
  float: left;
  clear: both;
  list-style-type: none;
}

.input-group{
  float: right;
  padding-left: 25%;
}

.input-group-text{
  text-align: left;
  white-space: inherit;
  overflow: hidden;
}

.helptext {
  margin: 0 0 20px 0;
  color: #aaa;
  clear: both;
  float: left;
  font-size: 13px;
}

.tab-wrapper{
  height: 10%;
  width: 45em;
}

.card{
  max-width: 100%;
  min-height: 30em;
}
