.tab-menu{
  justify-content: center;
}

.tab-menu li {
  position: relative;
  background-color: #fff;
  color: #bcbcbc;
  display: inline-block;
  padding: 20px 40px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
}

.tab-menu li:hover {
  color: #464646;
}

.tab-menu li.active {
  color: white;
  background-color: navy;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:#464646;
}

.line {
  position: absolute;
  width: 0;
  height: 7px;
  background-color: aqua;
  top: 0;
  left: 0;
}

.tab-content{
  max-width: 90%;
}

@media screen and (max-width: 1000px) {
  .tab-content{
    min-width: 140%;
  }

  .tab-content{
    height: 10%;
    width: 45em;
  }
}
