/* All screens */
.nav-tabs .nav-item {
  background-color: #fff;
}

.nav-tabs .nav-item:hover {
  background-color: #464646;
}

.nav-tabs .nav-item .active {
  color: white;
  background-color: navy;
  opacity: 1;
}

.nav-tabs .nav-item .active:hover {
  color:#464646;
}

/* Computer Screens */
@media (min-width: 701px) {
  .nav-tabs{
    min-width: 70%;
    margin-bottom: 1%;
  }

  .nav-tabs .nav-item{
    min-width: 33%;
  }

  .tab-content{
    max-width: 90%;
  }
}

/* Small Screens */
@media (max-width: 700px) {
  .tab-content{
    min-width: 90%;
  }
}
