{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Reset your password</h1>

  {% if validlink %}
    <h5 class="col-12">Please enter your new password twice:</h5>

    <div class="form-group">
    <form action="." method="post">

      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}"
              name="{{ field.name }}" class="form-control">

        {% if field.errors %}
        <span class="help-block">{{ field.errors }}</span>
        {% endif %}

      {% endfor %}

      {% csrf_token %}
      <input class="btn btn-success btn-block" type="submit"
            value="Change my password">

    </form>
    </div> <!-- form-group -->

  {% else %}
    <h5>The password reset link was invalid, possibly because it has already
    been used. Please request a new password reset.</h5>
  {% endif %}

</div> <!-- d-flex -->
{% endblock %}
