{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Log-in</h1>

  {% if form.errors %}
    <h4 class="col-12">
    Your username and password didn't match. Please try again.</h4>
  {% else %}
    <h4 class="col-12">Please use the follwoing form to log-in:</h4>
  {% endif %}

  <div class="form-group">
  <form action="{% url 'login' %}" method="post">
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
            class="form-control" id="{{ field.id_for_label }}">

    {% endfor %}

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-success" type="submit" value="Log-in">
    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>

  </form>
  </div>
</div>
{% endblock %}
