{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Forgotten your password?</h1>
  <h5 class="col-12">Enter your e-mail address to obtain a new password.</h5>

  <div class="form-group">
  <form action="." method="post">
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <label for="email">{{ field.label }}:</label>
    <input type="email" name="{{ field.name }}" class="form-control" id="email">

    {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}

    {% csrf_token %}
    <input class="btn btn-success btn-block" type="submit" value="Send E-mail">

  </form>
  </div>
</div>
{% endblock content %}
