{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Reset your password</h1>

  {% if validlink %}
    <h5 class="col-12">Please enter your new password twice:</h5>

    <form action="." method="post" class="short-form">
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}

      <div class="form-group"  style="margin-left: 15%">
        {% for field in form.visible_fields %}

          <div class="form-group col">
            <label class="col" for="{{ field.id_for_label }}">
            {{ field.label }}</label>
            {{ field }}

            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}

          </div> <!-- form-group col -->
        {% endfor %}
      </div> <!-- form-group -->

      {% csrf_token %}
      <input class="btn btn-success btn-block" type="submit"
            value="Change my password"/>

    </form> <!-- short-form -->

  {% else %}
    <h5>The password reset link was invalid, possibly because it has already
    been used. Please request a new password reset.</h5>

  {% endif %}
</div> <!-- d-flex -->
{% endblock %}
