{% extends "base.html" %}
{% load static %}

{% block title %}Change your password{% endblock title %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Change your password</h1>
  <h5 class="col-12">Use the form below to change your password:</h5>

  <div class="form-group">
  <form action="." method="post">
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields  %}
      <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
      <input type="password" name="{{ field.name }}" class="form-control">

      {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}

    {% endfor %}

    {% csrf_token %}
    <button class="btn btn-success" type="submit">Change Password

  </form>
  </div><!-- form-group -->
</div> <!-- d-flex -->
{% endblock content %}
