{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
	<h1>Forgotten your password?</h1>
	<p>Enter your e-mail address to obtain a new password.</p>

	<form action="." method="post">
		{% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

		{% for field in form.visible_fields %}
			<div class="container form-group-inline row">
			<label class="col-lg-6" for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field }}

			{% for error in field.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}

			</div>
		{% endfor %}

		<p><input class="btn btn-success btn-block" id="id_submit_button" type="submit" value="Send e-mail"></p>
		{% csrf_token %}
	</form>
{% endblock content %}
