{% extends "base.html" %}
{% load static %}

{% block title %}Create an Account{% endblock title %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Create an account</h1>
  <h5 class="col-12">Please, sign up using the following form:</h5>

  <form action={% url 'register' %} method="post" class="col-8">

    {% for field in form %}
      <p>
        {% if field.errors %}
        <div class="help-block d-flex col">{{ field.errors }}</div>
        {% endif %}
      {# Photo label #}
      {% if field.name == "photo" %}
      <div class="input-group custom-file">
      <label class="custom-file-label" for="{{ field.id_for_label }}">
        Choose optional profile photo
      </label>

      {# All other labels #}
      {% else %}
      <div class="">
      <label class="input-group-text" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      {% endif %}

      {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}

      </div></p>
    {% endfor %}

    {% csrf_token %}
    <input class="btn btn-success btn-block" type="submit"
          value="Create my account">

  </form>
</div> <!-- d-flex -->
{% endblock content %}
