{% extends "base.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Edit your account</h1>
  <h5 class="col-12">You can edit your account using the following form:</h5>

  <form class="form" action="." method="post" enctype="multipart/form-data">
  <div class="form-group">
    {% for field in form %}

    {# All other labels #}
    {% if field.name != "photo" %}
      <div class="input-group">
        <label class="input-group-text" for="{{ field.id_for_label }}">
          {{ field.label }}

    {% else %}
      {# Photo label #}
      <img class="img-fluid" src="{{ user.photo_url }}">
      <div class="input-group custom-file">
        <label class="custom-file-label" for="{{ field.id_for_label }}">
          Choose optional profile photo
    {% endif %}

        </label>
        {{ field }}

        {% if field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endif %}
      </div> <!-- input-group or custom-file -->
    {% endfor %}

    {% csrf_token %}
    <button class="btn btn-success" type="submit">Save Changes</button>

  </div> <!-- form-group -->
  </form> <!-- form -->
</div>  <!-- d-flex -->

{% endblock %}

{% block domready %}
$('#Profile-Photo').on('change',function(){
  var fileName = $(this).val()
  $(this).next('.custom-file-label').html(fileName);
})
{% endblock domready %}
