.Avatar {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    width: 90%;
    align-self: center;
    margin: 2%;
}

.AvatarImage {
    width: 100%;
    width: -moz-available;
}

.AvatarBody {
    overflow: hidden;
}

.AvatarTitle {
    margin-left: 25%;
}

.AvatarFooter {
    border: 1px solid yellow;
}

.Button {
    width: 100%;
    background-color: #1557f2c7;
    color: white;
    height: 3em;
}

@media (min-width: 700px){
    .Avatar {
        margin: 5px;
        align-self: baseline;
        width: 16em;
    }
}
