.title label {
  width: 7em;
  width: min-content;
  width: -moz-min-content;
  width: -webkit-min-content;

  display: block;

  text-align: right;
  text-align: end;
  text-align: -moz-right;
}

.title input {
  width: 50%;

  text-align: left;
  text-align: start;
  text-align: -moz-left;
}

.note-btn {
  margin-left: 1%;
}

.note-editor {
  min-width: 100%;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
}

.note-editable {
  height: 35em;
}

@media (max-height: 56.25em) {
  .note-editable {
    height: 25em;
  }
}

.btn-submit {
  width: 50%;
  margin-left: 25%;
  height: 3em;
}
