/********************************
* user-cards.css
* Boostrap Card deck custimization.
* Used to display a list of users.
* Currently used in people view
* and in Dashboard view.
********************************/
/* All screens */
h5 {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.card-deck {
  margin-bottom: 1%;
}

.card-img-top {
  height: 50%;
}

.card {
  /* Default */
  min-width: fit-content;

  /* Firefox */
  min-width: -moz-fit-content;

  /* Chrome */
  min-width: -webkit-fit-content;
}

/* Larger Screens */
@media (min-width: 701px) {
  .card{
    max-width: 25%;
  }
}
