{% extends "base.html" %}

{% block title %}Welcome to PieceView{% endblock title %}

{% block content %}
<div class="d-flex col-6" style="margin: auto;">
  {% if request.user.is_authenticated %}
  <h1 class="col-12">Welcome {{request.user.first_name}}</h1>

  <ul>
    <li><a href="/post/list">All posts</a></li>
    <li><a href="/post/create/">Create Posts</a></li>
  </ul>

  {% else %}
  <h1>Welcome to PieceView</h1>
  <p>In the future a default page will load with some stuff on it, even if you
  are not logged in.</p>
  <p>You should try logging in, you may get diffrent stuff.</p>
  {% endif %}

  <!-- temp button for testing TODO delete -- >
  <button data-id="{{ user.id }}" class="btn btn-danger ajax" type="submit">Pushing Buttons</button>
</div>
{% endblock content %}

<!-- temp button for testing TODO delete -- >
{% block domready %}

$('button.ajax').click(function(e){
  e.preventDefault();
  $.post('{% url "get_users" %}',{
      id: $(this).data('id'),
      page_limit: 10,
      page_num: 1
    })
})

{% endblock domready %}
