{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<!-- fonts loaded here -->
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/code-new-roman" type="text/css"/>
		<!-- Bootstrap current ver: 4.4.1 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		<script type="text/javascript" source="{% static 'js/follow.js' %}"></script>
	</head>

	<body>
		<!-- Header navigation bar at top of pages -->
		<div class="container-fluid">
			<nav id="header" class="navbar navbar-expand-md navbar-default navbar-static-top">
				<div class="container column d-flex justify-content-center">
				<a class="navbar-brand" href="#">PieceView</a>
					<ul class="navbar-nav">
						<li><a class="nav-link" href="{% url "dashboard" %}">My dashboard</a></li>
						<li><a class="nav-link" href="{% url "user_list" %}">People</a></li>
					{% if request.user.is_authenticated %}
						<li><a class="nav-link" href="{% url "logout" %}">Logout</a></li>
					{% else %}
						<li><a class="nav-link" href="{% url "login" %}">Log-in</a></li>
					{% endif %}
					</ul>
				</div>
			</nav>
		</div>

		<!-- actual content itself -->
		<div class="container shadow-lg p-3 mb-5 rounded text-wrap" id="content">
			<div class="d-flex justify-content-center" >
				<div class="" >
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>

	</body>
</html>
