{% extends "base.html" %}
{% load static %}

{% block title %}Create a Post{% endblock title %}

{% block loadscripts %}
<script
  src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js">
</script>
{% endblock loadscripts %}

{% block loadcss %}
<link rel="stylesheet" href="{% static "css/post/rich_text_edit.css" %}">
<link
  href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css"
  rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<h1>Creating a post.</h1>


<div class="form-group">
<form class="" action="." method="post">
  <div class="d-flex title">
    <label class="input-group-text">Title of Post:</label>
    <input type="text" name="title" class="input-group-text">
  </div>

  <textarea name="{{ form.content.name }}" class="post-field"
            id="summernote"></textarea>

  {% for error in field.errors %}
  <span class="help-block">{{ error }}</span>
  {% endfor %}

  {% csrf_token %}
  <input class="btn btn-success btn-submit" type="submit" value="Submit">

</form>
</div> <!-- Form Group -->

{% endblock content %}

{% block domready %}
$('#summernote').summernote();
{% endblock domready %}
