{% extends "base.html" %}
{% load static %}

{% block title %}Post List{% endblock title %}

{% block loadcss %}
<link href="{% static "css/user-cards.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">Post List</h1>

  <div class="card-deck col">
  {% for post in all_posts %}
  <div class="card card-posts">
    <div class="card-header">
      <h5>{{ post.title }}</h5>
    </div>

    <div class="card-body">
      <p>{{ post.content|safe }}</p>
    </div>

    <div class="card-footer">
      <a href="{{ post.get_absolute_url }}"
        class="btn btn-full stretched-link">Read</a>
    </div>
  </div>
  {% endfor %}

  </div>
</div>
{% endblock content %}
