{% extends "base.html" %}
{% load static %}

{% block title %}A Post{% endblock title %}

{% block loadscripts %}
<script
  src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js">
</script>
{% endblock loadscripts %}

{% block loadcss %}
<link href="{% static "css/post/details.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/post/rich_text_edit.css" %}">
<link
  href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css"
  rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">{{ post.title }}</h1>
  {{ post.content|safe }}
</div>

<div class="comment-section col-12">
<button class="btn btn-primary btn-block" data-toggle="collapse"
        data-target="#Comment-Form">
  Show Comment Form</button>

<div id="Comment-Form" class="collapse">
{% if request.user.is_authenticated %}
<div class="d-flex comment-form col">
<form action="{% url 'post_detail' post.pk %}" method="post">
  {% for field in form %}
  <div class="input-group">
    <textarea name="body" class="post-field" id="summernote"></textarea>
    {{ form.errors }}
    {{ form.non_field_errors }}
    
  </div>
  {% endfor %}

  {% csrf_token %}
  <input class="btn btn-success btn-block" type="submit" value="Post Comment">
</form>
</div>

{% else %}
<p>Log-in to comment.</p>
{% endif %}
</div>

{% for comment in comments %}
  <div class="comment row">

    <div class="profile-card d-flex col">
      <img class="img-fluid profile-photo" src="{{ comment.user.photo_url }}">
      <p class="d-flex">{{ comment.user }}</p>
    </div>

    <div class="comment-body col">
      <h5>{{ comment }}</h5>
      <p>{{ comment.body|safe }}</p>
    </div>
  </div>
{% endfor %}

</div>

{% endblock content %}

{% block domready %}
$('#summernote').summernote();
{% endblock domready %}
