.TabBar {
  background-color: cadetblue;
  margin-left: -10px;
  display: flex;
  justify-content: center;
}

.NavTabs{
  display: flex;
  list-style-type: none;
}

.NavLink:hover {
  background-color: #d31db5;
}

.NavLink {
  color: black;
  background-color: aqua;
  border-radius: 7px;
  height: 4em;
  width: 10vw;
  min-width: 8em;
}

.Active {
  background-color: lime;
}

.NavItem .active:hover {
  color:#464646;
}
