.NavTabs{
  margin-bottom: 2px;
  border-bottom: unset;
  width: 100%;
}
.NavTabs .NavItem {
  background-color: #eae9e9;
}

.NavTabs .NavItem:hover {
  background-color: #b09999;
}

.NavTabs .NavItem .active {
  color: white;
  background-color: navy;
}

.NavTabs .NavItem .active:hover {
  color:#464646;
}

.NavLink {
  color: black;
}

/* Content */
.list-group {
  width: 80%;
  margin-left: 10%;
}

/* Computer Screens */
@media (min-width: 701px) {
  .NavTabs {
    min-width: 70%;
  }

  .NavTabs .NavItem {
    min-width: 11%;
  }
}