.TabBar {
  background-color: cadetblue;
  width: 110%;
  margin-left: -10px;
}

.NavTabs{
  display: flex;
  list-style-type: none;
  margin-left: 15%;
}

.NavLink:hover {
  background-color: #d31db5;
}

.NavLink {
  color: black;
  background-color: aqua;
  border-radius: 7px;
  height: 4em;
}

.Active {
  background-color: lime;
}

.NavItem .active:hover {
  color:#464646;
}

/* Computer Screens */
@media (min-width: 701px) {
  .NavTabs {
    margin-left: 33%;
  }

  .NavTabs .NavItem {
    min-width: 11%;
  }
}