{% extends "base.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block loadscripts %}
{% endblock loadscripts %}

{% block content %}
<div class="d-flex justify-content-center">
  <h1 class="col-12">Edit your account</h1>
  <h3 class="col-12">You can edit your account using the following form:</h3>
  <div class="container col-8">
    <form class="form" action="." method="post" enctype="multipart/form-data">
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      <div class="d-flex">
        <!-- Here we handle the users photo -->
        {% for field in form.visible_fields %}
          {% if field.id_for_label == "id_photo" %}
            <div class="form-group">
              <img src="{{ user.photo_url }}" class="img-thumbnail img-responsive"></img>
              <!-- And here we let them add a photo -->
              <div class="input-group custom-file">
                <input type="file" class="form-control custom-file-input" name="photo" id="Profile-Photo">
                <label class="custom-file-label" for="Profile-Photo">Choose Profile Picture</label>
              </div>

            </div> <!-- photo form-group -->

          {% endif %}
        {% endfor %}
      </div> <!-- fluid-container -->

        <div class="d-flex justify-content-center details-from">
          <!-- Add rest of fields -->
          <div class="flex-fill">
            {% for field in form.visible_fields %}
              {% if field.id_for_label != "id_photo" %}
                <div class="d-flex form-group">
                  <label class="input-group-text" for="{{ field.id }}">{{ field.label }}</label>
                  <input type="text" name="{{ field.name }}" class="input-group-text" value="{{ field.value }}" id="{{ field.id }}">
                </div>

              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}

              {% endif %}
            {% endfor %}
          </div> <!-- flex-fill -->
        </div> <!-- Container Fluid -->

        {% csrf_token %}
        <button class="btn btn-success btn-block" type="submit">Save Changes</button>

      </form>
    </div><!-- Tab Wrapper -->
  </div>  <!-- New D-flex test -->

{% endblock %}

{% block domready %}
$('#Profile-Photo').on('change',function(){
  var fileName = $(this).val()
  $(this).next('.custom-file-label').html(fileName);
})
{% endblock domready %}
