{% extends "base.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block loadcss %}
<link href="{% static "css/forms.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
  <h1>Edit your account</h1>
  <h3>You can edit your account using the following form:</h3>
  <div class="d-flex justify-content-center">
      <form class="form" action="." method="post" enctype="multipart/form-data">
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}

          {% if field.id_for_label == "id_photo" %}
          <!-- Here we handle the users photo if they already have one -->
            <div class="container-flex">
              <img src="{{ user.photo_url }}" class="img-thumbnail"></img>
              {% if user.photo_url != "/static/icons/no-picture.jpg" %}
              <!-- If the user has there own photo give them the checkmark to delete it. -->
                <label for="photo-clear_id" class="form-control">Delete photo: </label>
                <input type="checkbox" name="photo-delete" id="photo-delete_id">
              {% endif %}
              <!-- And here we let them add one -->
                <div class="input-group custom-file">
                  <input type="file" class="custom-file-input" name="photo" id="Profile-Photo">
                  <label class="custom-file-label" for="Profile-Photo">Choose Profile Picture</label>
                </div>
            </div>

          {% else %}
            <!-- add rest of fields -->
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="{{ field.id }}">{{ field.label }}</label>
                <input type="text" name="{{ field.name }}" class="input-group-text" value="{{ field.value }}" id="{{ field.id }}">
              </div>
            </div>
          {% endif %}

          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}

        {% endfor %}

        {% csrf_token %}
        <button class="btn btn-success btn-block" type="submit">Save Changes</button>

      </form>
  </div>
{% endblock %}
