{% extends "base.html" %}
{% load static %}

{% block title %}People{% endblock %}

{% block loadcss %}
<link href="{% static "css/user-cards.css" %}" rel="stylesheet">
{% endblock loadcss %}

{% block content %}
<div class="d-flex">
  <h1 class="col-12">People</h1>
  <p class="col-12">Here is a list of people signed up with PieceView</p>

  <div class="card-deck col">
  {% for profile in users %}
  <div class="card bg-transparent border-warning">
    <img src="{{ profile.photo_url }}" class="card-img-top">

    <div class="card-body">
      <h5 class="card-title">{{ profile.get_full_name }}</h5>
      <p class="card-text">Some default card text here</p>
    </div>

    <div class="card-footer bg-transparent border-warning">
      <a href="{{ profile.username }}" class="btn btn-primary col">Profile</a>
    </div>

  </div> <!-- card -->
  {% endfor %}

  <div class="d-flex deck-footer">
    <ul class="pagination">

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; first</a>
    </li>
    <li class="page-item">
      <a class="page-link"
        href="?page={{ page_obj.previous_page_number }}">
        Previous page
      </a>
    </li>
    {% endif %}

    <li class="page-item disabled">
      <a class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        Next Page
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
        href="?page={{ page_obj.paginator.num_pages }}">
        last &raquo;
      </a>
    </li>
    {% endif %}

    </ul> <!-- pagination -->
  </div>

  </div> <!-- card-deck -->

</div> <!-- d-flex -->
{% endblock %}
