{% extends "base.html" %}

{% block title %}{{ profile.get_full_name }}{% endblock %}

{% block content %}
  <h1>{{ profile.get_full_name }}</h1>
    <p><img src="{{ profile.photo_url }}" class="profile-detail"></img></p>
    <p>Username: {{ profile.profilename }}</p>
    <p>First Name: {{ profile.first_name }}</p>
    <p>Last Name: {{ profile.last_name }}</p>

    {% with total_followers=profile.followers.count %}
      <span class="count">
        <span class="total">{{ total_followers }}</span>
        follower{{ total_followers|pluralize }}
      </span>
      <button href="#" data-id="{{ profile.id }}" data-action="{% if request.profile in profile.followers.all %}un{% endif %}follow"
      class="btn btn-primary follow">
        {% if request.profile not in profile.followers.all %}
          Follow
        {% else %}
          Unfollow
        {% endif %}
      </button>

    {% endwith %}
{% endblock %}

{% block domready %}
  $('button.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'follow') {
          // toggle data-action
          $('button.follow').data('action', 'unfollow');

          // toggle link text
          $('button.follow').text('Unfollow');

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_followers + 1);
        }
        else if (data['status'] == 'unfollow') {
          // toggle data-action
          $('button.follow').data('action', 'follow');

          // toggle link text
          $('button.follow').text('follow');

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_followers - 1);
        }
      }
    );
  });
{% endblock %}
